body{
    background-color: #cecece;
    min-height: 100vh;
}

.profilePicture{
    width: 35px;
    height: 35px;
    border: red 2px solid;
    border-radius: 20px;
}

.title{
    line-height: 60px;
    text-shadow: #6e6e6e 0 2px 6px;
}



/*  modal  */

.modal-title{
    text-shadow: #000000 0 1px 10px;
}

.xSpan{
    right: 18px;
}

.modal-base{
    width: 30vw;
    height: 55vh;
    background: rgb(17,18,20);
    background: linear-gradient(180deg, rgb(28, 29, 35) 0%, rgba(52,58,64,1) 100%);
    z-index: 2;
    border: 4px solid #1a1a1a;
    top: 15vh;
    display: none;
    border-radius: 30px;
    box-shadow: #000000 0 3px 10px;
}

.modalOn{
    display: block;
}

.body-modal-on{
    filter: blur(2px) grayscale(1);
    pointer-events: none;
}