{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form(categoryForm) }}
            </div>
        </div>
    </div>

{% endblock %}