{% extends './base-old.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">Some title or whatever</div>
        </div>
        <hr>

        <div class="row d-flex justify-content-center">

            {% for article in articles %}

            <div class="col-auto text-light">
                <div class="row d-flex justify-content-center">
                    Id: {{ article.id }}
                </div>

                <div class="row d-flex justify-content-center">
                    Title: {{ article.title }}
                </div>

                <div class="row d-flex justify-content-center">
                    Text: {{ article.text }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <style>
        .col-auto{
            width: 300px;
            height: 400px;
            background-color: #343a40;
            border: solid 2px red;
        }
    </style>
{% endblock %}