{% extends './base.html.twig' %}

{% block body %}
    <div class="container h5">
        Total sales: <span class="text-danger"> {{ totalSales }} </span> R-tickles<br>
        Fees: <span class="text-danger"> {{ totalFees }} </span>  credits <br>
    </div>
{% endblock %}