{% extends './base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container w-75">
        <div class="row mt-4">
            <div class="col d-flex justify-content-center">
                <span class="h1 title">Transactions</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-bordered table-dark table-hover mb-3" id="transactions">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Wallet</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Created-at</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready( function () {
            $("th").addClass("text-danger");
            let table = $('#transactions').DataTable({
                order: [[4, 'desc']],
                "processing": true,
                columnDefs: [{
                    targets: 4,
                    render: $.fn.dataTable.render.moment('YYYY-MM-DD HH:mm:ss.SSSS','YYYY/MM/DD HH:mm:ss')
                }],
                "columns": [
                    { "data": "id" },
                    { "data": "wallet" },
                    { "data": "amount" },
                    { "data": "type" },
                    { "data": "createdAt.date" },
                ],
                "serverSide": false,
                fixedHeader: {
                    header: true,
                    headerOffset: 45,
                },
                ajax: {
                    'url': '/api/transactions/index/',
                    "dataSrc": "",
                },
            });
        })
    </script>

    <style>
        .title{
            text-shadow: #6e6e6e 0 2px 6px;
        }
    </style>
{% endblock %}