{% extends './base.html.twig' %}

{% block body %}
    <div class="container">
        <span>Not enough credits!</span> <br>
        <span class="btn btn-success">Buy some</span>
    </div>
{% endblock %}